.back-to-top-btn {
    position: fixed;
    left: 24px;
    bottom: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgb(217, 72, 0);
    color: aliceblue;

}
.back-to-top-btn:hover {
    transform: translateY(-3px);
}

.back-to-top-btn:focus-visible {
    outline: 3px solid #e8e7e6;
    outline-offset: 2px;
}